#
# Base : option 2
#        48P 2.5G (TSCE 0~2) + 12P 25G (TSCF 0~2)
#
init_port_config_option=op2

# Value of 0 indicates PM4x10_QTC is in Ethernet mode
# Value of 1 indicates PM4x10_QTC is in QSGMII of QTC mode
# Value of 2 indicates PM4x10_QTC is in USXGMII of QTC mode
port_gmii_mode{2}=2
port_gmii_mode{18}=2
port_gmii_mode{34}=2

# TSCE 0
portmap_2=2:2.5
portmap_3=3:2.5
portmap_4=4:2.5
portmap_5=5:2.5
portmap_6=6:2.5
portmap_7=7:2.5
portmap_8=8:2.5
portmap_9=9:2.5
portmap_10=10:2.5
portmap_11=11:2.5
portmap_12=12:2.5
portmap_13=13:2.5
portmap_14=14:2.5
portmap_15=15:2.5
portmap_16=16:2.5
portmap_17=17:2.5

# TSCE 1
portmap_18=18:2.5
portmap_19=19:2.5
portmap_20=20:2.5
portmap_21=21:2.5
portmap_22=22:2.5
portmap_23=23:2.5
portmap_24=24:2.5
portmap_25=25:2.5
portmap_26=26:2.5
portmap_27=27:2.5
portmap_28=28:2.5
portmap_29=29:2.5
portmap_30=30:2.5
portmap_31=31:2.5
portmap_32=32:2.5
portmap_33=33:2.5

# TSCE 2
portmap_34=34:2.5
portmap_35=35:2.5
portmap_36=36:2.5
portmap_37=37:2.5
portmap_38=38:2.5
portmap_39=39:2.5
portmap_40=40:2.5
portmap_41=41:2.5
portmap_42=42:2.5
portmap_43=43:2.5
portmap_44=44:2.5
portmap_45=45:2.5
portmap_46=46:2.5
portmap_47=47:2.5
portmap_48=48:2.5
portmap_49=49:2.5

# TSCF 1
portmap_50=66:25
portmap_51=67:25
portmap_52=68:25
portmap_53=69:25

# TSCF 2
portmap_54=70:25
portmap_55=71:25
portmap_56=72:25
portmap_57=73:25

# TSCF 3
portmap_58=74:25
portmap_59=75:25
portmap_60=76:25
portmap_61=77:25

pbmp_xport_xe=0x3ffc000000000000

dport_map_direct=1
parity_enable=1

# Physical port and macsec index mapping
# macsec_port_index_<phy_port>=<macsec_port_index>
macsec_port_index_2=0
macsec_port_index_3=1
macsec_port_index_4=2
macsec_port_index_5=3
macsec_port_index_6=4
macsec_port_index_7=5
macsec_port_index_8=6
macsec_port_index_9=7
macsec_port_index_10=8
macsec_port_index_11=9
macsec_port_index_12=10
macsec_port_index_13=11
macsec_port_index_14=12
macsec_port_index_15=13
macsec_port_index_16=14
macsec_port_index_17=15
macsec_port_index_18=16
macsec_port_index_19=17
macsec_port_index_20=18
macsec_port_index_21=19
macsec_port_index_22=20
macsec_port_index_23=21
macsec_port_index_24=22
macsec_port_index_25=23
macsec_port_index_26=24
macsec_port_index_27=25
macsec_port_index_28=26
macsec_port_index_29=27
macsec_port_index_30=28
macsec_port_index_31=29
macsec_port_index_32=30
macsec_port_index_33=31
macsec_port_index_34=32
macsec_port_index_35=33
macsec_port_index_36=34
macsec_port_index_37=35
macsec_port_index_38=36
macsec_port_index_39=37
macsec_port_index_40=38
macsec_port_index_41=39
macsec_port_index_42=40
macsec_port_index_43=41
macsec_port_index_44=42
macsec_port_index_45=43
macsec_port_index_46=44
macsec_port_index_47=45
macsec_port_index_48=46
macsec_port_index_49=47
